<h1>Product List</h1>

<p>This component demonstrates fetching products from the server.</p>

<p *ngIf="!queryResult"><em>Loading...</em></p>

<div class="well">
    <input id="filter" type="text" [(ngModel)]="query.filter" name="filter">&nbsp;<button class="btn btn-default btn-sm" (click)="onFilterChange()">Search</button>
</div>

<div class="span12 pull-right">
    <a [routerLink]="['/product-create']" class="btn btn-default btn-sm">Create Product</a>
</div>

<table class='table'>
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                <a [routerLink]="['/product-list']" *ngIf="column.isSortable" (click)="sortBy(column.key)">
                    {{ column.title }}
                </a><i *ngIf="query.sortBy === column.key"
                       class="fa"
                       [class.fa-sort-asc]="query.isSortAscending"
                       [class.fa-sort-desc]="!query.isSortAscending"></i>
                <div *ngIf="!column.isSortable">
                    {{ column.title }}
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of queryResult.records">
            <td>{{ record.productId }}</td>
            <td>{{ record.productName }}</td>
            <td>{{ record.quantityPerUnit }}</td>
            <td>{{ record.unitPrice }}</td>
            <td>{{ record.unitsInStock }}</td>
            <td>{{ record.unitsOnOrder }}</td>
            <td>{{ record.reorderLevel }}</td>
            <td><input type="checkbox" [ngModel]="record.discontinued" onclick="return false;" /></td>
            <td><a [routerLink]="['/product-details/', record.productId]" class="btn btn-default btn-sm" role="button">Details</a>&nbsp;<button class="btn btn-default btn-sm">Edit</button>&nbsp;<button class="btn btn-default btn-sm">Delete</button></td>
        </tr>
    </tbody>
</table>

<pagination [total-records]="queryResult.totalRecords" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>